{% load static %}

<p>Scan the code with your TOTP app and enter a valid code to finish registration.</p>

<img data-qr="{{ mfa_data.url }}" alt="{{ mfa_data.secret }}" />

<form method="POST">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <label>
        {{ form.name.label }}
        {{ form.name }}
    </label>
    <label>
        {{ form.code.label }}
        {{ form.code }}
    </label>
    <button>Create</button>
</form>

<script src="{% static 'qrious/dist/qrious.js' %}"></script>
<script src="{% static 'mfa/qr.js' %}"></script>
