{% extends "mfa/base.html" %}
{% load i18n static %}

{% block content_subtitle %}
<p>
    You will be prompted to activate the device once you click "create".
</p>
{% endblock %}

{% block form %}
{% load static %}
<script src="{% static 'cbor-js/cbor.js' %}"></script>
<script src="{% static 'mfa/fido2.js' %}"></script>
<form data-fido2-create="{{ mfa_data }}" method="POST">
    {% csrf_token %}
    <div class="form-row">
        {{ form.name.errors }}
        {{ form.name.label }}
        {{ form.name }}
    </div>
    {{ form.code.as_hidden }}
    <div class="submit-row">
        <input type="submit" value="{% translate 'Create' %}">
        <input type="hidden" name="next" value="{{ next }}">
    </div>
</form>
{% endblock %}
